.text-center
  = form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: 'form-signin' }) do |f|
    h1.h3.mb-3.font-weight-normal
      | Please log in
    = f.label :email, class: 'sr-only'
    = f.email_field :email, autofocus: true, autocomplete: 'email', required: true, placeholder: 'Email address', class: 'form-control'
    = f.label :password, class: 'sr-only'
    = f.password_field :password, autocomplete: 'current-password' , class: 'form-control', placeholder: 'Password', required: true
    - if devise_mapping.rememberable?
      .checkbox.mb-3
        = f.check_box :remember_me
        = f.label :remember_me
    button.btn.btn-lg.btn-primary.btn-block[type="submit"]
      | Log in
  = render 'devise/shared/links'
