

body {
  height: 100%;
  color: #565a5c;
  background-color: #F8F8F8;
  font-family: 'Varela Round', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}

a {
  color: #00A699;

}

.container-fluid.main-container {
  overflow: auto;
  min-height: 100%;
  width: 80%
}

.text-babu, .icon-babu {
  color: #00A699;
}

// NAVBARS
.navbar-default {
  background-color: #343a40!important;
}

.navbar-default .navbar-brand {
  color: #FF5A5F;
  font-size: 2em;
  font-weight: 400;
}


// BUTTONS
.btn-block {
  display: block;
  white-space: normal;
  width: 100%;
}

.btn {
  color: #fff;
  border-radius: 5px;
  font-weight: bold;
  padding: 9px 27px;
}

.btn-small {
  padding: 5px 15px;
  margin-top: 15px;
}

.btn:hover, .btn:focus {
  color: #fff;
}

.btn.btn-default {
  width: 100%;
  border-color: #c4c4c4;
  background: white;
  color: #484848;
  border-radius: 2px;
  padding: 10px 0;
  margin-top: 10px;
}

.btn.btn-normal {
  border: 1px solid #ff5a5f;
  background-color: #ff5a5f;
}

.btn.btn-normal:active {
  outline: none;
  border-color: #e00007;
  background-color: #e00007;
}

.btn.btn-form {
  border: 1px solid #00A699;
  background-color: #00A699;
}

.btn.btn-form:active {
  outline: none;
  border-color: #066165;
  background-color: #066165;
}

.btn.btn-provider {
  border: 1px solid #3B5998;
  background-color: #3B5998;
}

.btn.btn-provider:active {
  outline: none;
  border-color: #2d467d;
  background-color: #2d467d;
}



.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}


// AVATAR
.avatar_small {
  width: 20px;
}

.avatar_medium {
  width: 40px;
}

.avatar_large {
  width: 60px;
}

.avatar_full {
  width: 100%;
}
